body
{
    background:#f8f8ff; /*Ghost White From http://www.tayloredmktg.com/rgb/ */
}

.signin-form
{
    background:#fff;
    padding:1rem;
    margin:auto;
    width:100%;
    max-width: 25rem; /*rem must not having a space between or wider 26.25rem*/

}

.text-sm-font
{
    font-size:0.9rem;
}