<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Siamese: Set new password</title>
    <!-- Metas -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/profile.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/boxshadow.css}" type="text/css">
</head>
<body>

<div class="profile-form container mt-sm-4 mt-lg-5 mb-3 border-top loginContainerShadow rounded">
    <!-- content here -->
    <div class="text-center mb-4 border-bottom" >
        <h1 class="h3 mb-1 font-weight-normal">
            <img th:src="@{/images/logo.png}" class="img" alt="Siamese logo rounded" width="48" height="48">
            SiameseX
        </h1>
        <h3 class="h3 mb-3 font-weight-light">Change Password</h3>
    </div>

    <!-- Reusing Profile base form but left with change password fields -->
    <!-- novalidate boolean will prevent browser to display default feedback tooltips -->
    <form method="post" role="form" th:action="@{/change-password}" th:object="${user}" class="needs-validation" novalidate>
        <!-- Message feedback will display here if any -->
        <p class="alert alert-danger text-sm-font" th:if="${param.error}">
            Your current password is incorrect.
        </p>
        <p class="alert alert-success text-sm-font" th:if="${param.success}">
            Your password has been updated successfully.
        </p>

        <!-- unless will make element visible if and only if the parameter is not existed or return false -->
        <div class="form-group" th:unless="${param.success}">
            <label for="password1">Current password</label>
            <input aria-describedby="passwordHelp1" class="form-control" id="password1" name="password"
                   type="password"
                   required/>
            <!-- <small id="passwordHelp1" class="form-text text-muted">Your email is in our safe hand</small> -->
            <!-- validation Feedback Texts -->
            <div class="valid-feedback">
                <!-- Empty feedback -->
            </div>
            <div class="invalid-feedback">
                The current password must not be blank
            </div> <!-- Original pattern author: Steven Smith from http://regexlib.com -->
        </div><!-- .form-group -->

        <div class="form-group" th:unless="${param.success}">
            <label for="passwordNew1">New password</label>
            <input aria-describedby="passwordNewHelp1" class="form-control" id="passwordNew1" name="newPassword"
                   type="password"
                   pattern='^[a-zA-Z][\w^<>{}\"/|;:.,~!?@#$%^=&*\\]\\\\()\\[¿§«»ω⊙¤°℃℉€¥£¢¡®©0-9_+]{3,19}$'
                   required />
            <!-- <small id="passwordNewHelp1" class="form-text text-muted">Your email is in our safe hand</small> -->
            <!-- validation Feedback Texts -->
            <div class="valid-feedback">
                <!-- Empty feedback -->
            </div>
            <div class="invalid-feedback">
                The password's first character must be a letter, it must contain at least 4 characters
                and no more than 20 characters
                and no characters other than letters, numbers and the underscore may be used
            </div> <!-- Original pattern author: Steven Smith from http://regexlib.com -->
        </div><!-- .form-group -->

        <div class="form-group" th:unless="${param.success}">
            <label for="passwordConfirmation1">Confirm new password</label>
            <input aria-describedby="passwordConfirmationHelp1" class="form-control" id="passwordConfirmation1"
                   name="passwordConfirmation" type="password"
                   pattern='^[a-zA-Z][\w^<>{}\"/|;:.,~!?@#$%^=&*\\]\\\\()\\[¿§«»ω⊙¤°℃℉€¥£¢¡®©0-9_+]{3,19}$'
                   required />
            <small id="passwordConfirmationHelp1" class="form-text text-muted">Confirmation Password must be matched with the new password</small>
            <div class="valid-feedback">
                <!-- Empty feedback -->
            </div>
            <div class="invalid-feedback">
                Password confirmation must be exactly the same with new password
            </div> <!-- Original pattern author: Steven Smith from http://regexlib.com -->
        </div><!-- .form-group -->

        <input class="btn btn-primary mt-2 mb-2 slick-shadow" th:unless="${param.success}"
               type="submit" value="Save"/>

    </form>

    <form th:action="@{/profile}" role="form">
        <input class="btn btn-outline-secondary mt-2 mb-2 " type="submit" value="Back"/>
    </form>
</div><!-- .profile-form -->

<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-muted" style="font-size: 0.7rem">
        Copyright © Faculty of ICT, Mahidol University 2019
    </div>

</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Page's Javascript -->
<script type="text/javascript">
    // Using jQuery must be in this document ready function
    $(function() {

        // Real-time validation : password and confirmation password must be matched
        // Reference: https://stackoverflow.com/questions/33456300/element-setcustomvalidity-does-not-seem-to-work
        // Issue: setCustomValidity() will work only DOM elements not JqueryAPI elements
        // use $('#someId')[0].setCustomValidity("")
        // or document.getElementById('someId').setCustomValidity("")
        const confirmPassword = function checkConfirmPassword() {
            const newPassword_input = $('#passwordNew1');
            let confirmPassword_input = $('#passwordConfirmation1');
            if ( (newPassword_input.val() === confirmPassword_input.val()) &&
                (newPassword_input.val().length > 0) && (confirmPassword_input.val().length > 0) )
            {
                $('#passwordConfirmationHelp1').html('<span class="text-success">The input passwords are matched</span>')
                confirmPassword_input[0].setCustomValidity("");
            }else{
                $('#passwordConfirmationHelp1').html('<span class="text-danger">The input passwords are not matched</span>')
                confirmPassword_input[0].setCustomValidity("Wrong the confirm password must matched")
            };

            //alert("Hello");
            /*
            const newPassword_input = $('#passwordNew1');
            const confirmPassword_input = $('#passwordConfirmation1');

            if (newPassword_input.value() === confirmPassword_input.value()) { // Compare string
                // Valid
                confirmPassword_input.setCustomValidity(""); // be sure to leave this empty! if it is valid
            } else if(!confirmPassword_input.checkValidity()){
                // Invalid
                confirmPassword_input.setCustomValidity("Wrong, it must be exactly or in the right format");
            }
            */
        }
        // Register function into event listener on the input - oninput() event
        $('#passwordConfirmation1').on('input', confirmPassword);


        // Disabling form submission if the validation return false
        // Validation of property input called by .checkValidity()
        // Basicly, use min, max for type=number, for text pattern="[A-Za-z]{3}" like this
        // Pattern ref: https://www.w3schools.com/tags/att_input_pattern.asp
        // https://www.w3schools.com/js/js_validation_api.asp
        $('form.needs-validation').submit(function(event){
            if(this.checkValidity() == false)
            {
                event.preventDefault();
                event.stopPropagation();
                this.classList.add('was-validated');
                console.log('Form is invalidated');
            }else{
                console.log('Form is validated');
            }
        });

        // Bind all input in the form submit with enter keypress
        // Solution from: https://stackoverflow.com/questions/477691/submitting-a-form-by-pressing-enter-without-a-submit-button
        // Author: sanmai , Edited on Sep 19
        $('form').each(function() {
            $(this).find('input').keypress(function(e) {
                // Enter pressed?
                if(e.which == 10 || e.which == 13) {
                    this.form.submit();
                }
            });

            // In case, input's box must be hidden
            // $(this).find('input[type=submit]').hide();
        });
    });
</script>
</body>
</html>