<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Siamese: Forgot password</title>
    <!-- Metas -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/boxshadow.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="profile-form container mt-sm-4 mt-lg-5 border-top loginContainerShadow rounded">
    <!-- content here -->
    <div class="text-center mb-4 border-bottom">
        <h1 class="h3 mb-1 font-weight-normal">
            <img alt="Siamese logo rounded" class="img" height="48" th:src="@{/images/logo.png}" width="48">
            SiameseX
        </h1>
        <h3 class="h3 mb-3 font-weight-light">Forgot Password</h3>
    </div>

    <!-- Reuseing Profile base form but left with change password fields -->

    <form method="post" role="form" th:action="@{/forgot-password}" th:object="${user}">
        <!-- Message feedback will display here if any -->
        <p class="alert alert-danger text-sm-font" th:if="${param.error}">
            Your current password is incorrect.
        </p>
        <p class="alert alert-success text-sm-font" th:if="${param.success}">
            Your password has been updated successfully.
        </p>

        <div class="form-group">
            <label for="inputEmail1">Email Address</label>
            <input aria-describedby="inputEmailHelp1" class="form-control" id="inputEmail1" maxlength="60"
                   name="email" placeholder="name@example.com" required type="email"/>
            <!-- <small id="inputEmailHelp1" class="form-text text-muted">Your email is in our safe hand</small> -->
            <!-- validation Feedback Texts -->
            <div class="valid-feedback">
                <!-- Empty feedback -->
            </div>
            <div class="invalid-feedback">
                Please insert a correct email format i.e name@example.com
            </div>
        </div><!-- .form-group -->

        <input class="btn btn-primary mt-2 mb-2 slick-shadow" type="submit" value="Send Email"/>
    </form>

    <form role="form" th:action="@{/login}">
        <input class="btn btn-outline-secondary mt-2 mb-2 " type="submit" value="Back"/>
    </form>
</div><!-- .profile-form -->

<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-muted" style="font-size: 0.7rem">
        Copyright © Faculty of ICT, Mahidol University 2019
    </div>

</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Page's Javascript -->
<script type="text/javascript">
    // Using jQuery.

    // Bind all input in the form submit with enter keypress
    // Solution from: https://stackoverflow.com/questions/477691/submitting-a-form-by-pressing-enter-without-a-submit-button
    // Author: sanmai , Edited on Sep 19
    $(function () {
        $('form').each(function () {
            $(this).find('input').keypress(function (e) {
                // Enter pressed?
                if (e.which == 10 || e.which == 13) {
                    this.form.submit();
                }
            });

            // In case, input's box must be hidden
            // $(this).find('input[type=submit]').hide();
        });
    });
</script>
</body>
</html>