<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Siamse: Incremental and Scalable Code Clone Search Engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1><img width="50px" src="https://github.com/cragkhit/cragkhit.github.io/blob/master/images/siamse_logo.png?raw=true" />Siamese</h1>
<hr />
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <!--<p>Id: <input type="text" th:field="*{id}" /></p>-->
    <p>
    <h3>Please enter your code query below:</h3>
    <textarea th:field="*{content}" rows="20" cols="100">
        </textarea>
    </p>
    <p><input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
</body>
</html>